body{
  background-image: url("../img/images.jpg" );
  background-size: 100%;
  overflow: hidden;
  z-index: 1;
}

#piso{
  width:1000px;
  height: 500px;
  position:absolute;
  top:150px;
  left:0px;
  background:url("../img/primera-capa.png");
  z-index: 1000000;
  margin-left: 215px;
}

#paisaje{
  background-image:url("../img/BG.png") ;
  animation: movebg 5s linear infinite;
  overflow: hidden;
  z-index: 100;
}

.fondo{
position: absolute;
width:1000px;
height: 500px;
background-position: 0 0;
}

#juego{
position: relative;
}

#juego div{
position:absolute;
}

div#paisaje.fondo{
margin-left: 200px;
}

.mush{
  position: relative;
  width:1000px;
  height: 500px;
  background:url("../img/Mushroom_1.png") no-repeat;
  animation: movimiento 9s linear ease-in;
  top:450px;
  left: 920px;
  z-index: 1000000;
}

.cofre{
position: absolute;
background:  url("../img/t1.png")no-repeat;
background-size:50px 50px;
width: 50px;
height: 50px;
left:370px;
top:400px;
z-index: 1000000;
}

.coin {
  position:absolute;
  top:150px;
  left: 350px;
  width: 100px;
  height: 100px;
  background: url("../img/coin.png") left center;
  animation: playCoin 0.8s steps(10) infinite;
  transform: scale(0.5);
  z-index: 1000000;
}

@keyframes playCoin {
  100% { background-position: -1000px;
   }
}

.flor {
  position:absolute;
  left: 1000px;
  top: 330px;
  width: 256px;
  height: 256px;
  background: url("../img/flor.png") left center;
  animation: flor 1s steps(6) infinite;
  transform: scale(0.5);
  z-index: 1000000;
}

@keyframes flor {
  100% { background-position: -1536px;
   }
}

.personaje{
  position: relative;
  width: 139px;
  height: 151px;
  top:300px;
  left: 300px;
  transform: translate(200px,0);
  z-index: 1000000;
  margin-left: 520px;
  }

.idle{

  background: url("../img/idle.png") left center;
  animation: idle 0.7s steps(16) infinite;
  z-index: 1000000;
}

@keyframes idle{
  100% { background-position: -2224px; }
}

.walk {
  background: url("../img/walk.png") left center;
  animation: play 0.7s steps(20) infinite;

}

.walkRev {
  background: url("../img/walk.png") left center;
  transform: rotateY(-180deg);
  animation: play 0.7s steps(20) infinite;

}

@keyframes play {
  100% { background-position: -2780px; }
}

.jump {
position: relative;
width: 139px;
height: 151px;
background: url("../img/jump.png") left center;
animation: jump 2s steps(30) infinite;
}

@keyframes jump{
  0%{transform: translate(200px,-0px); }
  
    25%{transform: translate(200px,-100px); }
  
    50%{transform: translate(200px,-250px); }
  
    75%{transform: translate(200px,-150px); }
  
    100%{transform: translate(200px,-0px);background-position: -4170; }
  /* 100% { background-position: -4170px; }
  0% {transform:  translate(200px,-5px)}
  50% {transform: translate(200px,-400px)}
  100% {transform:translate(200px,-5px)} */
  /* 100% { background-position: -4170px; }
  0% {transform:  translateY(0px) translateX(50px)}
  50% {transform:  translateY(-300px) translateX(100px)}
  100% {transform: translateX(150px) translateY(0px) ; background-position: -4170px;} */
}

.dead{
    background: url("../img/dead.png") ;
    animation: dead 1s steps(30);
    width: 151px;
    height: 130px;
    top:400px;
    z-index: 1000000;
  }
  
  @keyframes dead{
    100% { background-position: -4530px; }
  }

@keyframes movimiento {
  from {
      background-position-x: 0;
      transform: translateX(5px);
      
  }
  to {
      background-position-x: -1920px;
      transform: translateX(5px);
  }
}

/* @keyframes movebg {
  0% { background-position:550px }
  100% { background-position:0 }
} */

@keyframes movebg {
  100% {background-position: -1000px; }
}

/* @keyframes bg {
  from {
      background-position-x: 0;
  }
  to {
      background-position-x: -1920px;
  }
} */

 #Sign_2{
    width: 60px;
    height:65px;
    background-image: url("../img/Sign_2.png");
    /* float:left; */
    position: absolute;
    left: 350px;
    top: 400px;
    visibility:visible;
    z-index: 1000100;
}

/* .arbol{
  width: 282px;
  height:301px;
  background-image: url("../img/Tree_2.png"); */
  /* float:left; */
  /* position: absolute; */
  /* left: 350px;
  top: 200px; */
  /* animation: movetree 5s ease-in infinite; */
  /* overflow: hidden;
  visibility:visible;
  z-index: 1000100;
} */

/* @keyframes movetree {
  100% {background-position: -282px; }
} */


.Stone {
    width: 90px;
    height: 55px;
    background-image: url('../img/Stone.png');
    /* float: right;
    position: absolute; */
    left: 1000px;
    top: 430px;
    visibility:visible;
    z-index:1000000;
}

 #img3 {

    width: 150px;
    height: 150px;
    background-image: url('../img/3.png');
    float:left;
    position: absolute;
    left: 700px;
    top: 100px;
    visibility:visible;
    z-index:1000000;
}

.logo{
  width: 50px;
  height: 50px;
  color: white;
  font-family: 'Bangers', cursive;
  font-size: 40px;
  background-image: url("../img/logoR.png");
  float:left;
  padding-left: 60px;
  text-shadow:black;
  position: relative;
  top:0px;
  left: 1080px;
}

/* img{
  width: 215px;
  height: 215px;
  color: white;
  font-family: 'Bangers', cursive;
  font-size: 40px;
  margin-bottom: 10px;
} */

.der{
  background: url('../img/der.png');
  width: 42px;
  height: 40px;
  position:relative;
  /* font-size: 16px; */
  color: white;
  padding: 10px;
  /* left:-1px; */
  /* top:0px; */
  text-shadow:black;
}

.up{
  width: 42px;
  height: 40px;
  background: url('../img/up.png');
  position: relative;
  font-size: 16px;
  color: white;
  padding: 10px;
  /* left:-1px; */
  /* top:220px; */
  text-shadow:black;
}

 .izq{
  background: url('../img/izq.png');
  width: 42px;
  height: 40px;
  position: relative;
  display: inline-block;
  font-size: 16px;
  color: white;
  padding: 10px;
  /* left:-10px; */
  /* top:260px; */
  text-shadow:black;
}

/* .izq{
  position: absolute;
  top:130px;
  left: 5px;
} */
.ayuda{
  position: absolute;
  top: 80px;
  left:50px;
  margin:0px;
  padding:10px;
  width: 250px;
  height: 550px;
  background: #222222;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2), 2px 2px 5px 2px rgba(0, 0, 0, 0.3);
}

.indicaciones{
  position: absolute;
  font-size: 14px;
  color: white;
  padding: 10px;
  left: 55px;
  top: 50px;
  text-shadow:black;
}

h3.ltr{
  /* font-size: 16px; */
  color: white;
  font-family: 'Francois One', sans-serif;
  padding: 10px;
  text-shadow:black;
}

h4.ltr{
  /* font-size: 16px; */
  color: white;
  font-family: 'Francois One', sans-serif;
  padding: 10px;
  text-shadow:black;
}

h2.ltr{
  text-align: center;
  color: white;
  font-family: 'Bangers', cursive;
  font-size: 35px;
  margin-bottom: 10px;
}

#puntaje{
  font-size: 35px;
  color: rgb(14, 13, 13);
  font-family: 'Bangers', cursive;
  padding: 10px;
  text-shadow:black;
  position: relative;
  z-index: 1000;
  transform: translate(200px);
}

.btnJugar{
  margin: 30px 70px;
}

#gameOver{
  position: absolute;
  top: -160px;
  left: 410px;
  margin: 100px;
  width: 600px;
  height: 250px;
  padding: 10px;
  visibility: hidden;
  font-family: 'Bangers', cursive;
  font-size: 80px;
  color: rgb(255, 255, 255);
  /* background-color: #000000; */
  transform: translate(0,300px);
  background: #222222;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2), 2px 2px 5px 2px rgba(0, 0, 0, 0.3);
  z-index: 1000100;
}
p.gOver{
  margin: 60px;
}


/* element.style {
  left: 0px;
  top: 350px;
  animation-play-state: paused;
} */